@import "../../common/_buttons.less";
@import "../../common/_fonts.less";
@import "../../common/_forms.less";
@import "../../ui/_colors.less";
@import "../_sidebar.less";
@import "../_layout.less";

@marker-orange:#ff8000;

html, body {
  padding:0 0 60px 0;
  margin:0;
  font-family:Roboto;
  background-color:#fff;
  color:@standard-type;
}

.content .inner {
  position:relative;
  margin-left:260px;
  width:auto;
  max-width:720px;
}

img {
  margin:10px 0;
  border:1px solid @form-grey-border;
}

img.float.right {
  margin:5px 0 5px 10px;
  float:right;
}

img.float.left {
  margin:5px 10px 5px 0;
  float:left;
}

img.no-border {
  border:none;
}

form.create-embed {
  padding:20px;

  input {
    padding-left:5px;
    height:35px;
    width:380px;
  }

}

.char {
  font-family:"Courier New", Courier, monospace;
  display:inline-block;
  font-size:14px;
  min-width:23px;
  box-sizing:border-box;
  padding:0 5px;
  height:23px;
  line-height:23px;
  text-align:center;
  background-color:lighten(@form-grey-border, 5%);
  border:1px solid @form-grey-border;
  .rounded-corners(2px);
}

.icon {
  font-family:FontAwesome;
  font-size:14px;
  color:@light-grey-type;
}

.note {
  padding: 2px 15px;
  margin-top: 20px;
  color: #868686;
  border-left: 4px solid #d6d7d9;
}

.marker {
  display:inline-block;
  color:@marker-orange;
  width:22px;
  height:22px;
  line-height:22px;
  text-align:center;
  font-weight:bold;
  border:3px solid @marker-orange;
  .rounded-corners(50%);
  background-color:#fff;
}

.gui-overview {
  padding:10px 0;
  position:relative;

  img {
    margin:0;
    padding:0;
  }

  ul {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    list-style-type:none;
  }

  li {
    position:absolute;
  }

  li.m1 {
    top:34px;
    left:310px;
  }

  li.m2 {
    top:42px;
    left:6px;
  }

  li.m3 {
    top:95px;
    left:220px;
  }

  li.m4 {
    top:550px;
    left:310px;
  }

  li.m5 {
    top:410px;
    left:310px;
  }

  li.m6 {
    top:280px;
    left:310px;
  }

  li.m7 {
    top:70px;
    right:38px;
  }

}

.symbology {
  list-style-type:none;
  margin:0;
  padding:0 0 0 10px;

  li {
    margin:5px 0;
  }

  span.icon {
    display:inline-block;
    width:24px;
    height:24px;
    color:#fff;
    .rounded-corners(50%);
    text-align:center;
    margin-right:7px;
  }

  span.icon.place {
    background-color:@type-place;
  }

  span.icon.object {
    background-color:@type-object;
  }

  span.icon.period {
    background-color:@type-period;
  }

  span.icon.person {
    background-color:@type-person;
  }

  span.icon.dataset {
    background-color:@type-dataset;
  }

}

.code-container {
  background-color:@haze;
  padding:4px 10px;
  border:1px solid @form-grey-border;
  .rounded-corners(4px);
  margin-top:20px;

  code {
    font-family:"Courier New", Courier, monospace;
    white-space:pre;
    font-size:12px;
    line-height:130%;
  }

}

.inner.preview {
  padding-top:20px;

  .preview-container {
    position:relative;
    width:420px;
    height:300px;
    .rounded-corners(3px);
    overflow:hidden;
    .box-shadow(0, 0, 8px, 0, rgba(0,0,0,0.25));
    margin:0 auto;

    iframe {
      border:none;
      width:100%;
      height:100%;
    }

  }

}
