@()(implicit request: RequestHeader, webjars: WebJarAssets, flash: Flash)
<html xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <title>Peripleo | Annotation Validator</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/validator/index.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/validator/app.js")"></script>
  </head>
  <body>
    @flash.get("error").map   { msg => <div class="step error">@msg</div> }
    @flash.get("warning").map { msg => <div class="step warning">@msg</div> }
    @flash.get("success").map { msg => <div class="step success">@msg</div> }

    @helper.form(action = controllers.validator.routes.ValidatorController.validateAnnotations(), 'enctype -> "multipart/form-data") {
      <ol>
        <li class="step">
          <h2>Attach your data file:</h2>
          <div>
            <a href="#" class="btn upload" data-input="file">Choose File</a>
            <input type="file" id="file" name="file">
          </div>
        </li>

        <li class="step">
          <h2>Validate your data:</h2>
          <div>
            <input type="submit" class="btn" value="Go!" />
          </div>
          <p class="hint">
            Note that validation may take a while, depending on the size of your file.
          </p>
        </li>
      </ol>
    }
  </body>
</html>
