@import "../common/_mixins.less";
@import "../common/_fonts.less";
@import "../ui/_colors.less";
@import "../ui/_globals.less";
@import "../ui/map/_selectablemarker.less";
@import "../ui/controls/selection/_selectionpanel.less";

#embed {
  margin:0;
  height:100%;
  max-height:100%;
  display:flex;
  flex-direction:column;

  -webkit-box-shadow:none;
     -moz-box-shadow:none;
       -o-box-shadow:none;
          box-shadow:none;
  -webkit-border-radius:0;
   -khtml-border-radius:0;
     -moz-border-radius:0;
          border-radius:0;

  .top {
    flex:1;
    display:flex;

    .depiction {
      flex:2;
      min-height:inherit;
      height:auto;
      max-height:none;
      .rounded-corners(0);
      border:none;

      .attribution {
        font-size:13px;
      }

    }

    .map {
      flex:1;
      border-left:1px solid #fff;

      .leaflet-control-attribution {
        display:none;
      }

      .marker-selected {
        transition:none;
      }

    }

  }

  .item-info {
    padding-bottom:0;

    .item-description { padding-top: 0; }

  }

  .footer {
    padding:2px 10px 6px 9px;
    color:@light-grey-type;
    font-size:12px;
    line-height:18px;

    img {
      width:20px;
      height:20px;
      vertical-align:bottom;
    }

    a {
      color:lighten(@light-grey-type, 4%);
      text-decoration:none;
    }

    a:hover {
      text-decoration:underline;
    }

  }

}
