@import "../common/_mixins.less";
@import "../common/_fonts.less";
@import "../ui/_colors.less";
@import "../ui/_globals.less";
@import "../ui/map/_selectablemarker.less";
@import "../ui/controls/selection/_selectionpanel.less";

#embed {
  margin:0;
  height:100%;
  max-height:100%;
  display:flex;
  flex-direction:column;

  -webkit-box-shadow:none;
     -moz-box-shadow:none;
       -o-box-shadow:none;
          box-shadow:none;
  -webkit-border-radius:0;
   -khtml-border-radius:0;
     -moz-border-radius:0;
          border-radius:0;

  .top {
    flex:1;
    display:flex;

    .depiction {
      flex:2;
      min-height:inherit;
      height:auto;
      max-height:none;
      .rounded-corners(0);
      border-style:solid;
      border-color:#fff;
      border-width:0 1px 0 0;

      .attribution {
        font-size:13px;
      }

    }

    .map {
      flex:1;

      .leaflet-control-attribution {
        display:none;
      }

      .marker-selected {
        transition:none;
      }

    }

  }

  .item-info {

  }

  .footer {
    border-top:1px solid @light-grey-border;
    background-color:@blueish-white;
    padding:4px 6px;
    color:@light-grey-type;
    font-size:12px;
    line-height:19px;

    img {
      width:20px;
      height:20px;
      vertical-align:bottom;
    }

    a {
      color:lighten(@light-grey-type, 4%);
      text-decoration:none;
    }

    a:hover {
      text-decoration:underline;
    }

  }

}
