#current-selection {

  .DATASET .item-info {

    .item-title {
      line-height:140%;
    }

    .item-description {
      padding-top:10px;
    }

    * {
      white-space:normal;
      text-overflow:inherit;
      overflow:visible;
    }

  }

  .DATASET .item.references {
    padding:12px 12px;
    line-height:14px;

    .icon {
      font-size:14px;
      color:lighten(@light-grey-type-hover, 15%);
    }

    .count {
      color:@dark-grey-type;
      font-size:14px;
      font-weight:500;
    }

    .stats-items .icon {
      padding-right:4px;
    }

    .sep {
      padding-left:5px;
    }

    .stats-links {
      padding-left:8px;
    }

  }

}
