@import "../common/_fonts.less";
@import "../common/_mixins.less";
@import "../pages/_header.less";
@import "sections/_jumbotron.less";
@import "sections/_intro.less";
@import "sections/_topitem.less";
@import "sections/_logos.less";
@import "sections/_footer.less";

@light-blue    : #7391b0;
@nightsky      : #2a395a;
@ocean         : #4483c4;
@standard-type : #7e7e7e;

@font-face {
  font-family:'PTSansNarrow';
  src:url('/assets/fonts/pt_sans_narrow/PT_Sans-Narrow-Web-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'FontAwesome';
  src:url('/assets/fonts/font_awesome/fontawesome-webfont.eot?v=4.5.0');
  src:url('/assets/fonts/font_awesome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
      url('/assets/fonts/font_awesome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
      url('/assets/fonts/font_awesome/fontawesome-webfont.woff?v=4.5.0') format('woff'),
      url('/assets/fonts/font_awesome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
      url('/assets/fonts/font_awesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal;
}

.rounded-corners(@radius) {
  -webkit-border-radius:@radius;
   -khtml-border-radius:@radius;
     -moz-border-radius:@radius;
          border-radius:@radius;
}

html, body {
  padding:0;
  margin:0;
  background-color:#fff;
  text-align:center;
  font-family:PTSansNarrow;
}

.icon {
  font-family:FontAwesome;
}

.inner {
  position:relative;
  margin:0 auto;
  width:920px;
}

.top {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1;
}

.section {

  p {
    padding:10px 0 25px 0;
    font-size:19px;
    color:@standard-type;
    margin:10px auto;
    line-height:160%;
  }

  sup {
    font-family:"Times New Roman", Times, serif;
    padding-right:2px;
  }

  a {
    color:@ocean;
    text-decoration:none;
  }

  a:hover {
    text-decoration:underline;
  }

}
