@import "../common/_fonts.less";
@import "../common/_mixins.less";
@import "sections/_header.less";
@import "sections/_jumbotron.less";

@font-color:#555;
@heading-color:#25375f;

@font-face {
  font-family:'Lato';
  src:url('/assets/fonts/lato/Lato-Light.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'Lato';
  src:url('/assets/fonts/lato/Lato-Regular.ttf');
  font-weight:bold;
  font-style:normal;
}

.rounded-corners(@radius) {
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

html, body {
  padding:0;
  margin:0;
  font-family:Lato;
  background-color:#fff;
  text-align:center;
}

.has-transition {
  -webkit-transition:all .15s linear;
     -moz-transition:all .15s linear;
       -o-transition:all .15s linear;
          transition:all .15s linear;
}

.inner {
  position:relative;
  margin:0 auto;
  width:900px;
}

.phonetic {
  font-style:normal;
  font-family:"Times New Roman", Times, serif;
}

.section {
  padding:40px 0;

  h2 {
    font-size:20px;
    padding:0 0 20px 0;
    margin:0;
    font-weight:normal;
    font-family:Roboto;
    color:@heading-color;
  }

  p {
    padding:10px 0 0 0;
    font-family:Roboto;
    font-size:17px;
    color:@font-color;
    margin:10px auto;
    line-height:150%;
    width:90%;
  }

  a { color:@heading-color; }

}

.section.top-item {

  iframe {
    width:420px;
    height:220px;
    outline:none;
    border:none;
    .rounded-corners(3px);
    .box-shadow(0, 0, 8px, 0, rgba(0,0,0,0.25));
  }

}
