.twitter-typeahead {
  width:100%;
}

.tt-menu {
  position:relative !important;
  background-color:#fff;
}

.tt-hint {
  color:@light-grey-type;
}

.tt-suggestion {
  color:@dark-grey-type;
  font-size:15px;
  font-weight:300;
  padding:8px 10px;
  line-height:18px;
  border-bottom:1px solid @light-grey-border;

  strong {
    font-weight:normal;
  }

}

.tt-suggestion:last-child {
  border:none;
}

.tt-suggestion:hover {
  background-color:@blueish-white;
}

.tt-suggestion.tt-cursor {
  background-color:@blueish-white;
}
