.facets-pane {

  @icon-color:lighten(@light-grey-type, 10%);
  @clickbuffer:6px;

  text-align:center;

  .type-bar {
    cursor:pointer;
    padding-bottom:@clickbuffer;

    .bar {

      .segment {
        display:inline-block;
        height:8px;
      }

      .segment.object  { background-color:@type-object; }
      .segment.place   { background-color:@type-place; }
      .segment.person  { background-color:@type-person; }
      .segment.period  { background-color:@type-period; }
      .segment.dataset { background-color:@type-dataset; }
    }

    .clickbuffer {
      position:relative;
      z-index:1;
      padding:1px 0;
      margin-top:-@clickbuffer;
      height:@clickbuffer;
    }

  }

  .summary-section {
    padding-top:4px;
    height:36px;
  }

  .summary-section-inner {
    height:38px;
    overflow:hidden;
  }

  .sliding-pane {
    position:relative;
  }

  .summary-row {
    height:38px;
    white-space:nowrap;

    ul {
      padding:0;
      margin:0;
    }

    .col {
      display:inline-block;
      padding:12px 15px 16px 15px;
      color:@dark-grey-type;

      .icon {
        font-size:14px;
        padding-right:5px;
        position:relative;
        top:-1px;
        color:@icon-color;
      }

      .count {
        font-size:14px;
        font-weight:500;
      }

    }

    .col:first-child {
      padding-left:3px;
    }

    .col:last-child {
      padding-right:3px;
    }

    .col:hover {
      cursor:pointer;

      .value {
        color:@ocean-dark;
        .count { color:@ocean-dark; }
      }

    }

  } /** .info-row **/

  .summary-row.types {

    .col {
      padding-top:10px;
    }

    .col::before {
      font-family:FontAwesome;
      font-size:12px;
      margin-right:5px;
      position:relative;
      top:-1px;
      display:inline-block;
      width:21px;
      height:21px;
      line-height:22px;
      box-sizing:border-box;
      color:#fff;
      .rounded-corners(50%);
    }

    [data-type='OBJECT']::before  { background-color: @type-object; content:'\f219'; }
    [data-type='PLACE']::before   { background-color: @type-place; content:'\f041'; }
    [data-type='PERSON']::before  { background-color: @type-person; content:'\f007'; }
    [data-type='PERIOD']::before  { background-color: @type-period; content:'\f017'; }
    [data-type='DATASET']::before { background-color: @type-dataset; content:'\f187'; }

  }

  .chart-section {
    border-bottom:1px solid @light-grey-border;
    position:relative;
    padding-bottom:5px;

    .chart-container {
      display:flex;
      justify-content:center;
      align-items:center;

      .donut {
        display:inline-block;
        width:50px;
        height:50px;
        padding-right:5px;
        position:relative;

        .icon {
          position:absolute;
          font-size:14px;
          color:@icon-color;
          top:18px;
          left:18px;
        }

      }

      table {
        display:inline-block;
      }

      tr {
        cursor:pointer;
        vertical-align:bottom;
      }

      td {
        color:@dark-grey-type;
        font-size:13px;
      }

      td.count {
        font-size:14px;
        font-weight:500;
        text-align:right;
      }

      td.label {
        padding-left:5px;

        .separator::after {
          font-family:FontAwesome;
          font-size:14px;
          content:'\f105';
          padding:0 3px 0 4px;
        }

      }

      tr:hover td.label {
        color:@ocean-dark;
      }

      td.more {
        color:@ocean-dark;
      }

      tr:hover td.more .label {
        text-decoration:underline;
      }

    }

  }

}
