.facets-overview {
  text-align:center;

  .sliding-panel {
    position:relative;
  }

  .info-section {
    overflow:hidden;
    height:40px;
  }

  @icon-color:lighten(@light-grey-type, 10%);

  .count {
    font-size:14px;
    font-weight:500;
  }

  .type-graph {
    cursor:pointer;

    .bar {

      .segment {
        display:inline-block;
        height:10px;
      }

      .segment.place   { background-color:@type-place; }
      .segment.object  { background-color:@type-object; }
      .segment.person  { background-color:@type-person; }
      .segment.dataset { background-color:@type-dataset; }

    }

    .clickbuffer {
      height:6px;
    }

  }

  .facets-row {

    .facet {
      display:inline-block;
      padding:12px 15px 16px 15px;
      white-space:nowrap;
      color:@dark-grey-type;
      line-height:10px;

      .icon {
        font-size:14px;
        padding-right:5px;
        position:relative;
        top:-1px;
        color:@icon-color;
      }

    }

    .facet:first-child {
      padding-left:3px;
    }

    .facet:last-child {
      padding-right:3px;
    }

    .facet:hover {
      cursor:pointer;

      .value {
        color:@ocean-dark;
        .count { color:@ocean-dark; }
      }

    }

  }

  .type-counts {
    color:@dark-grey-type;

    ul {
      padding:0;
      margin:0;
      list-style-type:none;
    }

    li {
      padding:12px 15px 16px 15px;
      display:inline-block;
      line-height:22px;
    }

    li:first-child {
      padding-left:3px;
    }

    li:last-child {
      padding-right:3px;
    }

    li::before {
      text-align:center;
      font-family:FontAwesome;
      font-size:12px;
      margin-right:5px;
      color:@icon-color;
      position:relative;
      top:-1px;
      display:inline-block;
      width:21px;
      height:21px;
      line-height:22px;
      box-sizing:border-box;
      color:#fff;
      .rounded-corners(50%);
    }

    li::after {
      font-weight:normal;
      font-size:13px;
      padding-left:3px;
    }

    li.PLACE::before { background-color: @type-place; content:'\f041'; }
    li.PLACE::after  { content: 'places'; }

    li.OBJECT::before { background-color: @type-object; content:'\f219'; }
    li.OBJECT::after  { content: 'objects'; }

    li.PERSON::before { background-color: @type-person; content:'\f007'; }
    li.PERSON::after  { content:'people'; }

    li.DATASET::before { background-color: @type-dataset; content:'\f187'; }
    li.DATASET::after  { content:'datasets'; }

  }

}
