.filtercrumbs {
  position:relative;
  background-color:#fff;
  padding:2px 34px 2px 24px;

  @blur:10px; @dark:rgba(0,0,0,0.18); @lite:rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 3px 5px 0 @lite, inset 0 @blur @blur -@blur @dark;
     -moz-box-shadow: 0 3px 5px 0 @lite, inset 0 @blur @blur -@blur @dark;
          box-shadow: 0 3px 5px 0 @lite, inset 0 @blur @blur -@blur @dark;

  .fc-label {
    position:absolute;
    top:11px;
    left:10px;
    font-size:14px;
    color:@ocean;
  }

  .fc-filters {
    list-style-type:none;
    padding:0 2px;
    margin:0;

    li {
      display:inline-block;
      margin:3px 0 2px 1px;
      .box-shadow(0, 0, 4px, 0, rgba(0,0,0,0.1));
      cursor:pointer;
      overflow:hidden;
      .rounded-corners(2px);
      border:1px solid @light-grey-border;

      * {
        display:inline-block;
        height:26px;
        line-height:26px;
        vertical-align:middle;
        border-style:solid;
        border-width:0;
      }

      .icon {
        text-align:center;
        width:26px;
        font-size:14px;
        color:#fff;
        .rounded-corners-left(2px);
        background-color:@light-grey-type;
      }

      .label {
        background-color:#fff;
        padding:0 12px 0 7px;
        color:@dark-grey-type;
        text-decoration:none;
        .rounded-corners-right(2px);
      }

      a.label:hover { text-decoration:underline; }

    }

    li.collapsed .icon {
      .rounded-corners-right(2px);;
    }

    li.item-type.PLACE   .icon { background-color: @type-place }
    li.item-type.OBJECT  .icon { background-color: @type-object }
    li.item-type.PERSON  .icon { background-color: @type-person }
    li.item-type.DATASET .icon { background-color: @type-dataset }

  }

  .fc-clear {
    position:absolute;
    top:3px;
    right:19px;
    font-size:32px;
    color:@light-grey-type;
    width:14px;
    cursor:pointer;
  }

  .rl-h-clear:hover {
    color:@light-grey-type-hover;
  }

}
