#filterpane-footer {
  padding:14px 0 11px 10px;
  font-size:13px;
  position:relative;

  .footer-text {
    cursor:pointer;

    .icon {
      position:relative;
      font-size:14px;
      top:1px;
      margin-right:4px;
      color:@ocean;
    }

    .label {
      color:@ocean-dark;
      padding-left:2px;
    }

  }

  .footer-text:hover .total {
    text-decoration:underline;
  }

  .pane-toggle {
    position:absolute;
    top:15px;
    right:0;
    color:@light-grey-type;
    cursor:pointer;
    transform-origin:50% 30%;
  }

  .pane-toggle:hover {
    color:@light-grey-type-hover;
  }

  .pane-toggle:after {
    font-family:'Stroke7';
    font-size:36px;
    line-height:14px;
    content:'\e688';
  }

}
