.termfacet-section {
  padding:0;
  border-width:1px 0;
  border-style:solid;
  border-color:@light-grey-border;
  position:relative;
}

.facet {
  width:50%;
  height:100px;
  box-sizing:border-box;
  display:inline-block;

  .more-buckets {
    font-size:13px;
    color:@ocean-dark;

    .icon {
      font-size:14px;
      font-weight:normal;
    }
  }

}

.facet.left {
  border-right:1px solid @light-grey-border;
}

.facet.right {
  float:right;
}

.by-type {
  padding:14px 14px 14px 20px;

  ul {
    list-style-type:none;
    padding:0 0 2px 0;
    margin:0;

    li {
      margin:0;
      padding:0 0 4px 0;
      position:relative;
    }

    .count {
      .rounded-corners(2px);
      overflow:hidden;
    }

    .icon {
      text-align:center;
      display:inline-block;
      width:22px;
      height:21px;
      line-height:21px;
      font-size:14px;
      color:#fff;
    }

    .label {
      padding-left:6px;
    }

    .item (@color) {
      border-color:@color;
      background-color:fade(@color, 20%);
      color:darken(@color, 8%);
      .icon { background-color:@color; }
    }

    .OBJECT { .item(@type-object); }
    .PLACE  { .item(@type-place);  }
    .PERSON { .item(@type-person); }
  }

}

.by-source {
  padding:8px 14px;
  text-align:center;
  color:@dark-grey-type;

  .top-count {
    padding:1px 0 2px 0;
    font-size:21px;
  }

  .top-source {
    font-weight:300;
    font-size:15px;
    line-height:18px;
    padding-bottom:6px;
  }

}
