@()(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Peripleo - the Pelagios Exploration Engine</title>
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@pelagiosproject" />
    <meta property="og:title" content="Peripleo - the Pelagios Exploration Engine" />
    <meta name="twitter:title" content="Peripleo - the Pelagios Exploration Engine" />
    <meta property="og:description" content="" />
    <meta name="twitter:description" content="" />
    <meta property="og:image" content="@routes.Assets.versioned("images/logo_sq_240px.png").absoluteURL" />
    <meta property="og:image:width" content="240" />
    <meta property="og:image:height" content="240" />
    <meta name="twitter:image" content="@routes.Assets.versioned("images/logo_sq_240px.png").absoluteURL" />
    <meta property="og:url" content="@controllers.routes.ApplicationController.index.absoluteURL" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/landing/index.css")"/>
    <link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <script src="@routes.WebJarAssets.at(webjars.locate("scrollreveal.min.js"))"></script>
  </head>
  <body>
    <div class="header">
      <span class="logo">
        <a href="http://commons.pelagios.org" target="_blank">
          <img class="logo-commons" src="@routes.Assets.versioned("images/logo-commons.png")">
        </a>
      </span>
      <div class="nav">
        <a href="#">About</a>
        <a href="#">Help</a>
        <a href="#">FAQ</a>
      </div>
    </div>

    <div class="jumbotron">
      <div class="inner">
        <img class="title" src="@routes.Assets.versioned("images/logo-peripleo-white.png")" style="width:250px">
        <div class="buttons">
          <a href="@controllers.routes.ApplicationController.ui()" class="btn outline">Enter</a><br/>
          <!-- a href="">Learn More</a -->
        </div>

        <p>
          <span class="livestat">128,513 items</span>

          <span class="livestat">12 data sources</span>

          <span class="livestat">15,000 years</span>
        </p>
      </div>
    </div>

    <div class="section">
      <div class="inner">
        <h2>The Pelagios Exploration Engine</h2>
        <p>
          Peripleo is a search engine to
          <a href="">Pelagios Commons</a>, a Digital Humanities initative
          aiming to build better connections between scholars, projects
          and institutions studying places of the past.
        </p>
      </div>
    </div>

    <div class="section">
      <div class="inner">

      </div>
    </div>

    <div class="stats-overview">
      <div class="inner">
        <div class="stats big">138,128 items</div>
        <div class="stats small">42,119 places &middot;</div>
        <div class="stats small">95,982 objects &middot;</div>
        <div class="stats small">20,000 years</div>
        <div class="stats">from 5 data sources</div>
      </div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/landing/anim.js")"></script>
  </body>
</html>
