@(
  itemCount: Long,
  datasetCount: Long,
  years: Int,
  topItemId: Option[String]
)(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Peripleo | The Pelagios Exploration Engine</title>
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@pelagiosproject" />
    <meta property="og:title" content="Peripleo | By Pelagios Commons" />
    <meta name="twitter:title" content="Peripleo | By Pelagios Commons" />
    <meta property="og:description" content="An interface to explore data about places, people, objects and the connections between them." />
    <meta name="twitter:description" content="An interface to explore data about places, people, objects and the connections between them." />
    <meta property="og:image" content="@routes.Assets.versioned("images/logo_sq_240px.png").absoluteURL" />
    <meta property="og:image:width" content="240" />
    <meta property="og:image:height" content="240" />
    <meta name="twitter:image" content="@routes.Assets.versioned("images/logo_sq_240px.png").absoluteURL" />
    <meta property="og:url" content="@controllers.routes.ApplicationController.landing.absoluteURL" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/landing/index.css")"/>
    <link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("scrollreveal.min.js"))"></script>
  </head>

  <body>
    <div class="top">
      <div class="header">
        <a href="@controllers.pages.about.routes.AboutController.index" class="has-transition">About</a>
        <a href="@controllers.pages.help.routes.HelpController.index" class="has-transition">Help</a>
        <a href="@controllers.pages.apidocs.routes.APIDocsController.index" class="has-transition">API</a>
        <a href="@controllers.pages.partners.routes.PartnersController.index" class="has-transition">Become a Partner</a>
      </div>
    </div>

    <div class="jumbotron">
      <div class="inner">
        <img class="title" alt="Peripleo" src="@routes.Assets.versioned("images/peripleo-logotype.png")">

        <div class="enter">
          <a href="@controllers.routes.ApplicationController.ui()" class="btn has-transition">Enter</a>
        </div>

        @defining(java.text.NumberFormat.getNumberInstance(java.util.Locale.UK)) { fmt =>
          <div class="livestats">
            <span>@fmt.format(itemCount) items</span>
            <span>@fmt.format(datasetCount) data sources</span>
            <span>@fmt.format(years) years</span>
          </div>
        }
      </div>
    </div>

    <div class="section intro">
      <div class="inner">
        <p>
          Peripleo<sup>1</sup> is a search engine to data maintained by partners of
          <a href="http://commons.pelagios.org" target="_blank">Pelagios Commons</a>, a Digital
          Humanities initative aiming to foster better linkages between online resources documenting
          the past.
        </p>
      </div>

      <div class="inner footnote">
        <p>
          <sup>1</sup> <em class="phonetic">[periˈpleo]</em>. Ancient Greek for <em>&laquo;to sail
          (or swim) around&raquo;</em> in the sense of exploration or discovery.
        </p>
      </div>
    </div>

    <img class="pelagios-logo-big" src="@routes.Assets.versioned("images/pelagios-logo-big.png")">

    <div class="section what">
      <div class="inner">
        <p>
          Explore data about ancient places and objects published by our global community
          of scholars, projects and institutions.
          <a href="@controllers.pages.about.routes.AboutController.index">See who
          contributes data to Peripleo</a>.
        </p>
      </div>
    </div>

    @topItemId.map { identifier =>
      <div class="section top-item">
        <div class="inner">
          <h2>This Week's Top Item</h2>
          <div class="iframe-container">
            <iframe
              allowFullScreen="true"
              src="@controllers.routes.ApplicationController.embed(identifier)">
            </iframe>
          </div>
        </div>
      </div>
    }

    <div class="footer">
      <div class="inner">
        <div class="developed-by">
          Open Source Software by the <a href="http://www.ait.ac.at" target="_blank">Austrian Institute of Technology</a>,
          <a href="http://www.exeter.ac.uk/" target="_blank">Exeter University</a>,
          <a href="http://www.open.ac.uk/" target="_blank">The Open University</a>,
          <a href="http://www.sas.ac.uk/">University of London</a> and the
          <a href="http://www.hiig.de/en/">Humboldt Institute for Internet and Society</a>.
          Funded by the <a href="http://www.mellon.org">Andrew W. Mellon Foundation</a>.
          <span class="icon">&#xf09b;</span> Visit us on <a href="http://github.com/pelagios/recogito2" target="_blank">GitHub</a> &nbsp;
          <span class="icon">&#xf099;</span> Follow us on <a href="http://twitter.com/pelagiosproject" target="_blank">Twitter</a>
        </div>

        <div class="logo">
          <a href="http://commons.pelagios.org" target="_blank">
            <img src="@routes.Assets.versioned("images/logo-commons-white.png")">
          </a>
        </div>
      </div>
    </div>

    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/landing/anim.js")"></script>
  </body>
</html>
