@import "../_iteminfo.less";

#current-selection {
  margin-top:4px;
  position:relative;
  overflow:hidden;
  flex-shrink:0;
  .box-shadow(0, 0, 8px, 0, rgba(0,0,0,0.25));
  .rounded-corners(2px);

  .depiction {
    min-height:60px;
    height:25%;
    max-height:240px;
    background-color:@blueish-white;
    background-size:cover;
    background-position:50% 20%;
    cursor:pointer;
    .rounded-corners-top(2px);
    border-bottom:1px solid @light-grey-border;
  }

  .item-info {
    padding:16px 12px;
  }

  .references {
    background-color:@blueish-white;
    border-top:1px solid @light-grey-border;
    .rounded-corners-bottom(2px);
    color:@light-grey-type-hover;
  }

  .item.references {
    padding:2px 12px;

    .ref-place {

      a {
        text-decoration:none;
      }

      .title a {
        color:@light-grey-type-hover;
      }

      .more {
        color:@ocean;
        a { color:@ocean; }
      }

      a:hover {
        text-decoration:underline;
      }

    }

    .ref-place::before {
      font-family:FontAwesome;
      font-size:14px;
      content:'\f140';
      padding-right:5px;
    }

  }

  .place.references {
    padding:12px 12px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;

    a {
      text-decoration:none;
      color:@light-grey-type-hover;
    }

    a:hover {
      text-decoration:underline;
    }

    .icon {
      position:relative;
      top:1px;
      font-size:14px;
      padding-right:5px;
    }

  }

}
