@import "../_iteminfo.less";
@import "types/_dataset.less";
@import "types/_person.less";
@import "_snippets.less";

#current-selection {
  margin-top:4px;
  position:relative;
  overflow:hidden;
  flex-shrink:0;
  .box-shadow(0, 0, 8px, 0, rgba(0,0,0,0.25));
  .rounded-corners(2px);

  .dogear {
    position:absolute;
    top:0;
    right:0;
    width:0;
	  height:0;
	  border-top:52px solid transparent;
	  border-left:52px solid transparent;
  }

  .dogear::after {
    color:#fff;
    font-family:Stroke7;
    position:absolute;
    top:-46px;
    font-size:23px;
    right:3px;
  }

  .dogear.OBJECT { border-top-color:@type-object; }
  .dogear.OBJECT::after {
    content:'\e6af';
    right:5px;
  }

  .dogear.PLACE { border-top-color:@type-place; }
  .dogear.PLACE::after {
    content:'\e638';
    top:-45px;
    font-size:21px;
  }

  .dogear.PERSON { border-top-color:@type-person; }
  .dogear.PERSON::after {
    content:'\e863';
    font-size:21px;
    top:-47px;
  }

  .dogear.PERIOD { border-top-color:@type-period; }
  .dogear.PERIOD::after {
    content:'\e66b';
    font-size:24px;
    top:-49px;
  }

  .dogear.DATASET { border-top-color:@type-dataset; }
  .dogear.DATASET::after {
    content:'\e674';
    font-size:22px;
    top:-48px;
  }

  .depiction {
    min-height:60px;
    height:25%;
    max-height:240px;
    background-color:@blueish-white;
    background-size:cover;
    background-position:50% 20%;
    cursor:pointer;
    .rounded-corners-top(2px);
    border-bottom:1px solid @light-grey-border;
  }

  .item-info {
    padding:16px 22px 16px 12px;
  }

  .references {
    background-color:@blueish-white;
    border-top:1px solid @light-grey-border;
    .rounded-corners-bottom(2px);
    color:@light-grey-type-hover;
    padding:16px 12px;
  }

  .item.references {

    .ref {

      a {
        text-decoration:none;
      }

      .title a {
        color:@light-grey-type-hover;
      }

      .more {
        color:@ocean;
        a { color:@ocean; }
      }

      a:hover {
        text-decoration:underline;
      }

    }

    .ref {
      margin:0;
    }

    .ref::before {
      font-family:FontAwesome;
      font-size:14px;
      padding-right:5px;
    }

    .ref.place::before { content:'\f140'; }
    .ref.person::before { content:'\f007'; }

  }

  .references {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;

    a {
      text-decoration:none;
      color:@light-grey-type-hover;
    }

    a:hover {
      text-decoration:underline;
    }

    .icon {
      position:relative;
      top:1px;
      font-size:14px;
      padding-right:5px;
    }

    .inbound-links {
      padding-right:10px;
    }

    .related-entities {
      padding-left:10px;
    }

  }

}
