@(
  title: String,
  activeTab: String
)(content: Html)(implicit request: RequestHeader)
<!DOCTYPE html>
<html>
  <head>
    <title>@title | Peripleo</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/admin/index.css")"/>
  </head>
  <body>
    <div class="sidebar">
      <ul class="menu">
        <li>
          <a  @if(activeTab == "datasets") { class="active" } href="@controllers.admin.routes.AdminController.datasets">
            <span class="icon">&#xe617;</span><span class="label">Datasets</span>
          </a>

          <ul class="submenu">
            <li>
              <a @if(activeTab == "geodata") { class="active" } href="#">
                <span class="label">Geodata</span>
              </a>
            </li>

            <li>
              <a @if(activeTab == "annotations") { class="active" } href="#">
                <span class="label">Annotations</span>
              </a>
            </li>

            <li>
              <a @if(activeTab == "statistics") { class="active" } href="#">
                <span class="label">Statistics</span>
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a @if(activeTab == "authorities") { class="active" } href="@controllers.admin.routes.AdminController.authorities">
            <span class="icon">&#xe616;</span><span class="label">Authorities</span>
          </a>

          <ul class="submenu">
            <li>
              <a @if(activeTab == "gazetteers") { class="active" } href="@controllers.admin.authorities.routes.GazetteerAdminController.index">
                <span class="label">Gazetteers</span>
              </a>
            </li>

            <li>
              <a @if(activeTab == "people") { class="active" } href="@controllers.admin.authorities.routes.PeopleAdminController.index">
                <span class="label">People</span>
              </a>
            </li>

            <li>
              <a @if(activeTab == "periods") { class="active" } href="@controllers.admin.authorities.routes.PeriodAdminController.index">
                <span class="label">Time Periods</span>
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a @if(activeTab == "analytics") { class="active" } href="@controllers.admin.analytics.routes.AnalyticsAdminController.index">
            <span class="icon">&#xe64b;</span><span class="label">Analytics</span>
          </a>
        </li>

        <li>
          <a @if(activeTab == "notifications") { class="active" } href="@controllers.admin.notifications.routes.NotificationAdminController.index">
            <span class="icon">&#xe677;</span><span class="label">Notifications</span>
          </a>
        </li>
      </ul>
    </div> <!-- .sidebar -->

    <div class="content">
      @content
    </div>
  </body>
</html>
