@(item: services.item.Item)(implicit request: RequestHeader, webjars: WebJarAssets)
<html xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <title>@item.title | Peripleo</title>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webjars.locate("leaflet.css"))"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/embed/index.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("leaflet.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("leaflet-iiif.js"))"></script>
    <script src="@routes.Assets.versioned("vendor/Leaflet.fullscreen.min.js")"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("numeral.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/embed/embed.js")"></script>
  </head>
  <body>
    <div id="embed">
      @renderDepiction(item)
      <div class="dogear @item.itemType"></div>
      <div class="card">
        <div class="item-info">
          @renderDataset(item)
          @renderTitle(item)
          <p class="item-temporal-bounds"></p>
          @renderDescription(item)
        </div>
      </div>
    </div>
  </body>
</html>

@homepage(item: services.item.Item) = @{
  item.isConflationOf.flatMap(_.homepage).headOption }

@firstDataset(item: services.item.Item) = @{
  item.isConflationOf.flatMap(_.isInDataset).headOption }

@firstDescription(item: services.item.Item) = @{
  item.isConflationOf.flatMap(_.descriptions).headOption }

@renderDepiction(item: services.item.Item) = {
  @defining(scala.util.Random.shuffle(item.isConflationOf.flatMap(_.depictions))) { depictions =>
    @if(!depictions.isEmpty) {
      @defining(depictions.head) { d =>
        @if(d.depictionType == services.item.DepictionType.IMAGE) {
          <div class="depiction" style="background-image:url('@d.url')"></div>
        } @if(d.depictionType == services.item.DepictionType.IIIF) {
          <div class="depiction iiif" data-url="@d.url" data-source="@homepage(item)">
            <span class="attribution"></span>
          </div>
        }
      }
    }
  }
}

@renderDataset(item: services.item.Item) = {
  @firstDataset(item).map { inDataset =>
    <p class="item-is-in">@for((id, title) <- inDataset.path) {
      <span><a>@title</a></span>
    }</p>
  }
}

@renderTitle(item: services.item.Item) = {
  @homepage(item).map { url =>
    <h3 class="item-title"><a href="@url">@item.title</a></h3>
    <p class="item-homepage"><a href="@url" target="_blank">@url</a></p>
  }
}

@renderDescription(item: services.item.Item) = {
  @firstDescription(item).map { d =>
    <p class="item-description">@d.description</p>
  }
}
