@(
  item: services.item.Item,
  referenced: Option[services.item.reference.TopReferenced]
)(implicit request: RequestHeader, webjars: org.webjars.play.WebJarsUtil)
<html xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <title>@item.title | Peripleo</title>
    @Html(webjars.css("leaflet.css"))
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/embed/index.css")"/>
    @Html(webjars.script("1.12.0/jquery.min.js"))
    @Html(webjars.script("leaflet.js"))
    @Html(webjars.script("leaflet-iiif.js"))
    <script src="@routes.Assets.versioned("vendor/Leaflet.fullscreen.min.js")"></script>
    @Html(webjars.script("numeral.min.js"))
    @Html(webjars.requireJs(routes.Assets.versioned("javascripts/embed/embed.js")))
    @helper.javascriptRouter("jsRoutes")(
      controllers.routes.javascript.ApplicationController.ui
    )
  </head>
  <body>
    <div id="embed">
      <div class="top">
        @views.html.embed.tags.depiction(item)
        @views.html.embed.tags.map(item, referenced)
      </div>
      <div class="item-info">
        @if(item.itemType == services.item.ItemType.OBJECT) {
          @views.html.embed.tags.datasetPath(item)
        }
        @views.html.embed.tags.title(item)
        @views.html.embed.tags.temporalbounds(item)
        @if(item.itemType == services.item.ItemType.PLACE) {
          @views.html.embed.tags.idlist(item)
        }
        @views.html.embed.tags.description(item)
      </div>
      <div class="footer">
        <img src="@routes.Assets.versioned("images/logo-small-white.png")">
        <a href="@controllers.routes.ApplicationController.landing()" target="_blank">Peripleo</a> by
        <a href="http://commons.pelagios.org" target="_blank">Pelagios Commons</a>
      </div>
    </div>
  </body>
</html>
