@()(implicit request: RequestHeader, webjars: WebJarAssets)

@views.html.pages.layout(
  "Become a Partner",
  "Coming soon...",
  "pages/partners/index.css"
) {
  <div class="section">
    <div class="inner">
      <p>
        We are working on documentation and case studies for how our partners integrate their
        data with Peripleo.
      </p>

      <p>
        If you are interested in becoming a partner, and having your data
        listed in Peripleo, get in touch via our
        <a href="http://commons.pelagios.org" target="_blank">Pelagios Commons</a> community
        site, or directly with the team at
        <a href="mailto:commons@@pelagios.org">commons@@pelagios.org</a>.
      </p>
    </div>
  </div>
}
