#result-list {
  margin:6px 0 40px 0;
  .box-shadow(0, 0, 8px, 0, rgba(0,0,0,0.25));
  .rounded-corners(2px);
  flex-shrink:1;
  display:flex;
  flex-direction:column;
  overflow:hidden;

  .rl-header {
    background-color:@blueish-white;
    padding: 14px 12px 11px 12px;
    border-bottom:1px solid @light-grey-border;
    flex-shrink:0;

    a { text-decoration:none; }
    a:hover { text-decoration:underline; }

    .results-local {
      color:@light-grey-type-hover;
      a { color:@light-grey-type-hover; }
    }

    .results-local::before {
      font-family:FontAwesome;
      font-size:14px;
      content:'\f0b0';
      padding-right:5px;
    }

    .results-all {
      position:absolute;
      right:12px;
      a { color:@ocean; }
    }

  }

  .rl-body {
    flex-shrink:1;
    overflow-y:auto;
  }

  ul {
    list-style-type:none;
    padding:0;
    margin:0;
  }

  li {
    cursor:pointer;
    position:relative;
    min-height:70px;
  }

  .item-icon {
    position:absolute;
    width:32px;
    height:100%;
    box-sizing:border-box;
    color:#fff;
    padding:5px 0;
    font-size:22px;
    text-align:center;

    .icon {
      display:inline-block;
      .rounded-corners(100%);
      padding:5px;
    }

  }

  .item-icon.place {
    background-color:#1f77b4;
    border-bottom:1px solid fade(#000, 7%);
  }

  .item-icon.object {
    background-color:#f88620;
    border-bottom:1px solid fade(#000, 5%);
  }

  .item-icon.person {
    background-color:#9467bd;
    border-bottom:1px solid fade(#000, 6%);
  }

  .item-icon.dataset {
    background-color:#946016;
    border-bottom:1px solid fade(#000, 9%);
  }

  .item-info {
    margin-left:32px;
    min-height:70px;
    padding:8px 12px 9px 12px;
    box-sizing:border-box;
    border-bottom:1px solid fade(#000, 6%);
  }

  li:hover .item-info {
    background-color:@blueish-white;
  }

  li:last-child > .item-icon, li:last-child > .item-info {
    border:none;
  }

}

.rl-wait {
  width:100%;
  background-color:@blueish-white;
  border-top:1px solid @light-grey-border;
  text-align:center;
  padding:12px 0;

  img {
    width:26px;
    height:26px;
  }

}

#result-list .rl-body::-webkit-scrollbar {
  width:14px;
}

#result-list .rl-body::-webkit-scrollbar-track {
  background:@light-grey-border;
}

#result-list .rl-body::-webkit-scrollbar-thumb {
  background-color:darken(@light-grey-border, 25%);
  border:3px solid transparent;
  border-radius:9px;
  background-clip:content-box;
}

#result-list .rl-body::-webkit-scrollbar-thumb:hover {
  background-color:darken(@light-grey-border, 22%);
}
