@(title: String, cssPath: String)(content: Html)(implicit webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Peripleo | @title</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/" + cssPath + "")"/>
  </head>
  <body>
    <div class="top">
      <div class="header">
        <a href="@controllers.pages.about.routes.AboutController.index" class="has-transition">About</a>
        <a href="@controllers.pages.help.routes.HelpController.index" class="has-transition">Help</a>
        <a href="@controllers.pages.apidocs.routes.APIDocsController.index" class="has-transition">API</a>
        <a href="@controllers.pages.partners.routes.PartnersController.index" class="has-transition">Contribute</a>
        <a href="@controllers.routes.ApplicationController.landing" class="has-transition home">
          &#xe648;
        </a>
      </div>

      <div class="page-title">
        <h1>@title</h1>
      </div>
    </div>

    <div class="content">
      @content
    </div>
  </body>
</html>
