/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** Background and border colors   **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

@blueish-white:#f5f7f7;
@light-grey-border:#e5e5e5;
@light-grey-border-darker:#d6d7d9;

/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** Type colors                    **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

/** Default text color **/
@dark-grey-type:#3f3f3f;

/** Light text/icon color **/
@light-grey-type:#9f9f9f;
@light-grey-type-hover:#686868;

/** Blue accent **/
@ocean:#4483c4;
@ocean-dark:#4e78ac;

/** Eror message base red **/
@error-red:#cd5353;

/** Type code colors **/
@type-object:#f88620;
@type-place:#1f77b4;
@type-person:#9467bd;
@type-period:#bcbd22;
@type-dataset:#946016;
