@import "../common/_fonts.less";

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Light.ttf");
  font-weight:300;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Medium.ttf");
  font-weight:500;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Bold.ttf");
  font-weight:bold;
}

@font-face {
  font-family: "GripHandle";
  src: url("/assets/fonts/griphandle/griphandle.ttf");
  font-weight:300;
}


@font-face {
  font-family:'Tonicons';
  src:url('/assets/fonts/tonicons/Tonicons.ttf');
}
