@import "../common/_buttons";

/** Default blue button **/
.btn {
  background-color:@stone;
  border:1px solid darken(@stone, 4%);
}

.btn:hover {
  background-color:lighten(@stone, 4%);
}

.btn:disabled, .btn.disabled {
  // border-color:@shore-disabled;
  // background-color:@shore-disabled;
}

/** Outline button **/
.btn.outline {
  border-color:@stone;
  color:@stone;
}

.btn.outline:hover {
  // background-color:@blueish-white-hi;
}
