@()(implicit request: RequestHeader, webjars: org.webjars.play.WebJarsUtil)
<html xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <title>Peripleo | Pelagios Commons</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/ui/index.css")"/>
    @Html(webjars.css("leaflet.css"))
    @Html(webjars.script("leaflet.js"))
    @Html(webjars.script("leaflet-iiif.js"))
    <script src="@routes.Assets.versioned("vendor/Leaflet.fullscreen.min.js")"></script>
    @Html(webjars.script("1.12.0/jquery.min.js"))
    @Html(webjars.script("jquery-ui.min.js"))
    @Html(webjars.script("jquery.scrollintoview.js"))
    @Html(webjars.script("numeral.min.js"))
    @Html(webjars.script("velocity.min.js"))
    @Html(webjars.script("typeahead.jquery.min.js"))
    @Html(webjars.requireJs(routes.Assets.versioned("javascripts/ui/app.js")))
  </head>
  <body>
    @helper.javascriptRouter("jsRoutes")(
      controllers.api.routes.javascript.ItemAPIController.getItem,
      controllers.api.routes.javascript.ItemAPIController.getParts,
      controllers.api.routes.javascript.ItemAPIController.getReferences,
      controllers.api.routes.javascript.ItemAPIController.getTopReferenced,
      controllers.api.routes.javascript.ItemAPIController.reportSelection,
      controllers.api.routes.javascript.ItemAPIController.reportBrokenLink,
      controllers.api.routes.javascript.SearchAPIController.suggest
    )
  </body>
</html>
