@import "_layerswitcher.less";
@import "_mapcontrols.less";
@import "_selectablemarker.less";

#map {
  width:100%;
  height:100%;
  z-index:0;

  .leaflet-marker-pane {
    z-index:300; // Force marker pane (selection hilights) below overlay pane (circle markers)
  }

}
