@(
  profile    : services.profiling.CollectionProfile,
  last24Hrs  : services.visit.VisitStats,
  last7Days  : services.visit.VisitStats,
  last30Days : services.visit.VisitStats
)(implicit request: RequestHeader, webjars: org.webjars.play.WebJarsUtil)

@stats(s: services.visit.VisitStats) = {
  <p>
    <h2>Total Visits: @s.total</h2>
  </p>

  <h2>Top Items</h2>
  <ol>
    @for((item, count) <- s.topItems) {
      <li>
        <a href="@controllers.routes.ApplicationController.ui.absoluteURL()#selected=@item.identifier">@item.title</a>: @count
      </li>
    }
  </ol>

  <h2>Top Datasets</h2>
  <ol>
    @for((d, count) <- s.topDatasets) {
      <li>
        <a href="@controllers.routes.ApplicationController.ui.absoluteURL()#selected=@d.identifier">@d.title</a>: @count
      </li>
    }
  </ol>

  <h2>Top Searches</h2>
  <ol>
    @for((search, count) <- s.topSearches) {
      <li>
        @search: @count
      </li>
    }
  </ol>
}

@views.html.admin._layout("Analytics", "analytics", "stylesheets/admin/analytics/index.css") {
  <div class="row">
    <div class="card">
      <div class="inner">
        Images with IIIF: @profile.itemsWithIIIF
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <ul class="tab-header">
        <li class="tab active" data-content="tab-1">24 Hours</li>
        <li class="tab" data-content="tab-2">7 Days</li>
        <li class="tab" data-content="tab-3">30 Days</li>
      </ul>

      <div class="tab-body inner">
        <div class="tab-content" id="tab-1">
          @stats(last24Hrs)
        </div>

        <div class="tab-content" id="tab-2">
          @stats(last7Days)
        </div>

        <div class="tab-content" id="tab-3">
          @stats(last30Days)
        </div>
      </div>
    </div>
  </div>

  @Html(webjars.requireJs(routes.Assets.versioned("javascripts/admin/analytics/app.js")))
}
