@(
  last24Hrs:  services.visit.VisitStats,
  last7Days:  services.visit.VisitStats,
  last30Days: services.visit.VisitStats
)(implicit request: RequestHeader, webjars: WebJarAssets)

@views.html.admin._layout("Analytics", "analytics", "stylesheets/admin/analytics/index.css") {
  <div class="row">
    <div class="card">
      <ul class="tab-header">
        <li class="tab active" data-content="tab-1">24 Hours</li>
        <li class="tab" data-content="tab-2">7 Days</li>
        <li class="tab" data-content="tab-3">30 Days</li>
      </ul>

      <div class="tab-body inner">
        <div class="tab-content" id="tab-1">
          <p>
            Total Visits: @last24Hrs.total
          </p>
        </div>

        <div class="tab-content" id="tab-2">
          <p>
            Total Visits: @last7Days.total
          </p>
        </div>

        <div class="tab-content" id="tab-3">
          <p>
            Total Visits: @last30Days.total
          </p>
          <ol>
            @for((item, count) <- last30Days.topItems) {
              <li>@item: @count</li>
            }
          </ol>
        </div>
      </div>
    </div>
  </div>

  <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/admin/analytics/app.js")"></script>
}
