@import "../_layout.less";

ul.datasets {
  list-style-type:none;
  padding:0;
  margin:0;
  width:100%;
  white-space:nowrap;

  li {
    overflow:hidden;
    text-overflow:ellipsis;
    color:@lightgrey-type;

    .title a {
      color:@nightsky;
    }

  }

}
