@import "_buttons.less";
@import "_colors.less";
@import "_fonts.less";
@import "_forms.less";
@import "_mixins.less";

html, body {
  padding:0;
  margin:0;
  font-size:17px;
  font-family:PTSansNarrow;
  line-height:150%;
  color:@standard-type;
}

h1 {
  letter-spacing:1px;
  font-size:23px;
  margin:0;
  padding:0 0 10px 0;
}

h2 {
  margin:0;
  font-size:19px;
}
