@import 'sections/_graph.less';
@import 'sections/_map.less';
@import 'sections/_table.less';

.ldview-wrapper {
  width:90%;
}

.ldview {
  height:90%;
  top:5%;
  position:relative;

  .graph-section {
    position:absolute;
    top:0;
    left:0;
    width:60%;
    height:100%;
    border-right:1px solid @light-grey-border;
  }

  .map-section {
    position:absolute;
    top:0;
    right:0;
    width:40%;
    height:60%;
  }

  .table-section {
    position:absolute;
    bottom:0;
    right:0;
    width:40%;
    height:40%;
    border-top:1px solid @light-grey-border;
  }

}
