.ldview-wrapper {
  width:90%;
}

.ldview {
  height:90%;
  top:5%;

  .graph-container {
    position:relative;

    circle {
      stroke:@dark-grey-type;
      fill:#fff;
      stroke-width:3px;
    }

    line {
      stroke:@dark-grey-type;
      stroke-width:3px;
    }

    line.closeMatch {
      stroke-dasharray:7;
    }

    marker {
      fill:@dark-grey-type;
    }

    text {
      pointer-events:none;
      font-size:13px;
      color:@dark-grey-type;
    }

  }

  .node.dare     circle { fill:#9e9ac8; }
  .node.pleiades circle { fill:#5b9ec4; }
  .node.vici     circle { fill:#d6616b; }
  .node.geonames circle { fill:#74c476; }

}
