.header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:52px;
  background-color:rgba(255, 255, 255, 0);
  padding:8px 15px;
  box-sizing:border-box;
  text-align:right;

  a {
    display:inline-block;
    color:#fff;
    margin:2px 5px;
    text-decoration:none;
    font-weight:bold;
    border:2px solid transparent;
    padding:2px 12px 4px 12px;
    font-size:18px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  }

  a:hover {
    border-color:#fff;
    background-color:rgba(255, 255, 255, 0.12);
    .rounded-corners(3px);
  }

}
