.section.intro {
  padding:60px 0 100px 0;

  img.pelagios-logo-big {
    width:85px;
    height:85px;
    padding:20px 0 30px 0;
  }


  .footnote {
    font-family:"Times New Roman", Times, serif;
    padding-top:20px;

    p {
      position:relative;
      display:inline;
      font-size:16px;
    }

    p:before {
      content:'';
      position:absolute;
      top:-8px;
      left:80px;
      right:80px;
      border-top:1px solid lighten(@standard-type, 20%);
    }

    .phonetic {
      font-style:italic;
    }

  }

}
