.section.top-item {
  padding:70px 0 100px 0;

  h2 {
    margin:0;
    padding:0 0 40px 0;
    font-weight:normal;
    font-size:30px;
    color:@standard-type;
  }

  .iframe-container {
    .rounded-corners(3px);
    overflow:hidden;
    .box-shadow(0, 0, 8px, 0, rgba(0,0,0,0.25));
    width:420px;
    height:300px;
    position:relative;
    margin:0 auto;
  }

  iframe {
    width:100%;
    height:100%;
    outline:none;
    border:none;
  }

}
