@()(implicit request: RequestHeader, webjars: org.webjars.play.WebJarsUtil)

@views.html.admin._layout("Gazetteer Administration", "gazetteers", "stylesheets/admin/authorities/index.css") {
  <div class="row">
    <div class="card">
      <div class="inner">
        <span class="authorities-count">-</span> Gazetteers
        <a href="#" class="btn new-upload" data-input="file">Upload New</a>

        @helper.form(action = controllers.admin.authorities.routes.GazetteerAdminController.importGazetteer(), 'enctype -> "multipart/form-data") {
          <input type="file" id="file" name="file">
        }
      </div>

      <div class="uploads"></div>
    </div>
  </div>

  <div class="row">
    <div class="card half details">
      <div class="inner"></div>
    </div>

    <div class="card half overview">
      <table></table>
    </div>
  </div>

  @Html(webjars.requireJs(routes.Assets.versioned("javascripts/admin/authorities/gazetteers.js")))
  @helper.javascriptRouter("jsRoutes")(
    controllers.api.routes.javascript.GazetteerAPIController.list,
    controllers.api.admin.routes.javascript.TaskAPIController.list
  )
}
