.twitter-typeahead {
  width:100%;
}

.tt-menu {
  position:relative !important;
  background-color:#fff;
}

.tt-hint {
  color:@light-grey-type;
}

.tt-suggestion {
  position:relative;
  color:@light-grey-type-hover;
  font-size:13px;
  padding:8px 10px 8px 4px;
  line-height:18px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  font-weight:300;
  cursor:pointer;
  border-top:1px solid @light-grey-border;

  .description {
    padding-left:5px;
  }

}

.tt-suggestion::before {
  font-family:FontAwesome;
  font-size:14px;
  color:#fff;
  display:inline-block;
  text-align:center;
  width:24px;
  height:24px;
  line-height:24px;
  margin:0 6px 0 2px;
  .rounded-corners(3px);
}

.tt-suggestion.text::before {
  font-size:12px;
  content:'\f002';
  color:lighten(@light-grey-type, 5%);
}

.tt-suggestion.entity.OBJECT::before {
  content:'\f219';
  background-color:@type-object;
}

.tt-suggestion.entity.PLACE::before {
  content:'\f041';
  background-color:@type-place;
}

.tt-suggestion.entity.PERSON::before {
  content:'\f007';
  background-color:@type-person;
}

.tt-suggestion.entity.PERIOD::before {
  content:'\f017';
  background-color:@type-period;
}

.tt-suggestion.entity.DATASET::before {
  content:'\f187';
  background-color:@type-dataset;
}

.tt-suggestion.entity .label {
  color:@dark-grey-type;
  font-weight:normal;
}

.tt-suggestion:hover {
  background-color:@blueish-white;
}

.tt-suggestion.tt-cursor {
  background-color:@blueish-white;
}
